<section id="skills" class="services-mf pt-4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a text-light">Skills</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle">
                            <img src="../../../assets/img/node.png" alt="">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle">
                            <img src="../../../assets/img/mongodb.jpg" alt="">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle">
                            <img src="../../../assets/img/angular.png" alt="">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle">
                            <img src="../../../assets/img/express.png" alt="">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle">
                            <img src="../../../assets/img/html-css-javascript.jpg" alt="">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle">
                            <img src="../../../assets/img/nginx.jpg" alt="">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle">
                            <img src="../../../assets/img/aws.png" alt="">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle">
                            <img src="../../../assets/img/git.png" alt="">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
