<!-- ======= Education Section ======= -->
<section id="education" class="portfolio-mf sect-pt4 pt-4 pb-4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a text-light">
                        Education
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="work-box">
                    <div class="work-content">
                        <h2 class="w-title">Bachelor of Engineering</h2>
                        <div class="w-more">
                            <span class="w-ctegory">Gujarat Technological University</span>
                        </div>
                        <div class="w-more">
                            <span class="w-date">Grade: 7.42 CGPA</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="work-box">
                    <div class="work-content">
                        <h2 class="w-title">Higher Secondary School</h2>
                        <div class="w-more">
                            <span class="w-ctegory">Shree Lal Bahadur Shastri Vidyalaya</span>
                        </div>
                        <div class="w-more">
                            <span class="w-date">Grade: 62.15%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="work-box">
                    <div class="work-content">
                        <h2 class="w-title">Secondary School</h2>
                        <div class="w-more">
                            <span class="w-ctegory">Shree Masum Vidyalaya</span>
                        </div>
                        <div class="w-more">
                            <span class="w-date">Grade: 65.16%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Education Section -->
