/* Project Section Styles */
#projects {
    padding: 60px 0;
}

.line-mf {
    width: 60px;
    height: 3px;
    background: #007bff;
    margin: 0 auto 30px auto;
}

.work-box {
    background: #ffffff;
    border-radius: 1rem;
    transition: all 0.3s;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.work-box:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.w-title {
    font-size: 2rem;
    margin-bottom: 10px;
    white-space: nowrap; /* Prevent title from wrapping */
}

.w-ctegory {
    color: #6c757d;
    white-space: nowrap;
    text-wrap: wrap;
}

.w-date {
    color: #6c757d;
    white-space: nowrap; /* Prevent date from wrapping */
}

.w-description {
    margin-top: 10px;
    font-size: 0.9rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .subtitle-a {
        font-size: 1rem;
    }

    .work-box {
        padding: 15px;
    }

    .w-title {
        font-size: 1.5rem;
        white-space: nowrap; /* Prevent title from wrapping */
    }
}

@media (max-width: 576px) {

    .subtitle-a {
        font-size: 0.9rem;
    }

    .work-box {
        padding: 10px;
    }

    .w-title {
        font-size: 1rem;
        white-space: nowrap; /* Prevent title from wrapping */
    }
}
