<!-- ======= project Section ======= -->
<section id="projects" class="portfolio-mf sect-pt4 pt-4 pb-4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a text-light">
                        Projects
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="work-box">
                    <div class="work-content">
                        <h2 class="w-title">Rydex</h2>
                        <div class="w-more">
                            <p class="lead">Rydex is a ride-hailing platform offering real-time tracking, multiple ride options, secure payments, and a Car on Rent feature. As the Lead Backend Developer, I spearheaded the development of new features, optimized system performance, and improved scalability, ensuring a seamless user experience. Leveraging technologies like Node.js, MongoDB, Express, Angular, Google Maps API, Socket.IO, and Firebase Realtime Database, I enhanced backend efficiency and improved API performance by 40%, which significantly contributed to the platform’s growth and increased product sales.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="work-box">
                    <div class="work-content">
                        <h2 class="w-title">MyCar</h2>
                        <div class="w-more">
                            <p class="lead">MyCar is a top e-hailing platform in Malaysia. As the Lead Backend Developer, I set up the project by copying the Rydex code, managed deployment and configuration, and communicated with clients. I also added custom features based on client needs. Using technologies like MEAN Stack, Google Maps API, Socket.IO, Firebase Realtime Database, AWS EC2, AWS S3, and GCP, I successfully deployed and customized the platform, helping it become one of Malaysia’s top e-hailing services.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="work-box">
                    <div class="work-content">
                        <h2 class="w-title">Virk</h2>
                        <div class="w-more">
                            <p class="lead">Virk is a food delivery platform that makes ordering and tracking easy. As the Lead Backend Developer, I set up the project by copying an existing product, handled deployment and configuration, and communicated with clients. I added custom features based on client requests. Using technologies like MEAN Stack, Google Maps API, Socket.IO, Firebase Realtime Database, AWS EC2, AWS S3, and GCP, I successfully deployed and customized the platform, helping it succeed in the competitive food delivery market.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="work-box">
                    <div class="work-content">
                        <h2 class="w-title">Others</h2>
                        <div class="w-more">
                            <p class="lead">In the past two years, I also contributed to other projects such as Amigo, Taxiin, SpeedTaxi, IQ Delivery and Toppas, where I handled backend development, deployment, and client-specific customizations, ensuring smooth project delivery and client satisfaction.  Additionally, I worked on a Service Booking product, focusing on new features and enhancements to improve the platform’s functionality.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Projects Section -->
